*{
    box-sizing: border-box;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}

.col-12{
width: 100%;
}

[class*="col-"]{
    float: left;
    border: 1px solid red;
}
.row::after{  /*giả rỗng*/

    content: "";
    clear: both;
}
#_head{
    height: 80px;
   
    width: 100%;
}
#_head [class*="col-"]{
    height: 100%;
}
.form-control {
    
    width: 500px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 12px;
    
    
   
}.item-header{
    float: left;
    padding-left: 10px;
    margin-top: 0;
}
.shopping { 
    float: left;
    position: relative;
    margin: 0 10px 0 0;
    padding-left: 10px ;
    padding-top: 10px ;
}
.txt-giohang {
    font-size: 14px;
    float: left;
    color: black;
    cursor: pointer;
    padding-top: 10px;
}
.sl-giohang {
    position: absolute;;
    top: 20px;
   left: 1035px;
   
}
.label-danger {
    background-color: #d9534f;
   
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    border-radius: 20px;
}
.shoping {
    float: left;
    position: relative;
    margin: 0 10px 0 0;
    padding-top: 10px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 12px;
    margin-top: 15px;
    font-weight: bold;
    background: darkgray;
    border-radius: 5px;
}
/* menu*/
#_nav{
  
    width: 100%;
    
   
}
.menu > ul{
    background: firebrick;
    overflow: hidden;   
}
ul{
    margin-top: 0px;
        margin-bottom: 10px;
}
.menu ul li

{
    
    list-style: none; /* làm ẩn cái chấm đen của thẻ*/
    float: left;
    width: 15%;
    line-height: 50px;
    max-height: 50px;
    background-color: indianred;
    border-right: 1px solid violet;
    text-align: center;

} 
.menu li a {
    text-decoration: none; /* làm ẩn gạch chân ở dưới chữ */
    color: silver;
}
.menu li:hover{
    background-color: darkorchid;
   
}
#_slide{
   position: relative;
    width: 95%;
    height: 350px;
    left: 2.5%;
}
#_slide .col-12{
    position: relative;
    height: 100%;
}
#_slide .slide{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: none;
    transition: 1s;
}
#_slide .active{
    display: block;
}
#_slide .slide img{
    width: 100%;
    height: 100%;
}