*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color:whitesmoke;
}
*{
    box-sizing: border-box;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}

.col-12{
width: 100%;
}
[class*="col-"]{
    float: left;
    border: 1px ;
}


.row::after{  /*giả rỗng*/

    content: "";
    clear: both;
}
/*phần đầu*/

#head{
    width: 1200px;
    margin: auto;
    height: 60px;
    background-color: white;
    
}
#head{
    width: 1200px;
    margin: auto;
    height: 60px;
    background-color: #f5f5f5;
}
#head [class*="col-"]{
    height: 100%;
}
.form-control {
    
    width: 90%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 12px; 
}
.btn-primary {
    position: absolute;
    width: 30px;
    height: 27px;
    top: 14px;
    border:white;
    right: 611px;
    
}
.item-header{
    float: left;
    padding-left: 15px;
    margin-top: 0;
}
.shopping { 
    float: left;
    position: relative;
    margin: 0 10px 0 0;
    padding-left: 10px ;
    padding-top: 10px ;
}
.txt-giohang {
    font-size: 14px;
    float: left;
    color: black;
    cursor: pointer;
    padding-top: 10px;
}
.sl-giohang {
    position: absolute;; /* chèn lên đối tượng*/
    top: 8px;
   left: 1005px;
   border-radius: 10px;
   
}
.label-danger {
    background-color: brown;
   
   
}
.lable-moi {
    font-size: 14px;
    position: absolute;
    top: 630px;
    border-radius: 3px;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    
    
    
    
    
}
.shoping {
    float: left;
    position: relative;
    margin: 0 10px 0 0;
    padding-top: 10px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 12px;
    margin-top: 15px;
    font-weight: bold;
    background: darkgray;
    border-radius: 5px;
}
#cart-container {
    position: relative;
    width: 60px;
    margin-top: 4px;
}
/*menu*/
nav{
    width: 100%;
    background: #fed700;
    height: 50px;
    
}
.menu > ul{
       margin: auto;
        overflow: hidden;   
        width: 1200px;
        padding: 5px;
       
}
ul{
        margin-top: 0px;
        margin-bottom: 2px;
            
}
.menu ul li
    
{   
       
    list-style: none; /* làm ẩn cái chấm đen của thẻ*/
    float: left;
    width: 156px;
    line-height: 40px;
    max-height: 50px;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    
} 
.menu li a {
        text-decoration: none; /* làm ẩn gạch chân ở dưới chữ */
        color: black;
}
.menu li:hover{
            
            background-color: #f5f5f5;
        
}

/*slide*/
section{
    width:1200px;
    margin: auto;
    
}



a{
    text-decoration: none;
}
/*ảnh chạy*/
.khung-content{
   
    padding: 10px;
    margin-top: 10px;
    position: relative;
    
    
}
.khung-content a{
    color:gray;
}
.tenAcc{
    font-weight: bold;
    font-size: large;
}
.color-p{
    padding: 5px;
}
.dongia{
    font-weight: 500;
    line-height: 1.1;
    padding-bottom: 10px;
    font-size: 20px;
}
#chonmua{
    margin-top: 10px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 5px;
}
.divcontainer1{
   
    
    margin: 10px 0px;
    
   border-radius: 5px;
   margin-left: 10px;
   overflow: hidden;
   background-color: white;
    
}
/*thông tin sản phẩm*/
.sale
{
	width: 70px;
	position: absolute;
	top: 5px;
	left: 220px;
	z-index: 10;
	background-color: yellow;
	color: red;
	text-transform: uppercase;
	font-size: 20pt;
    transform: rotate(45deg);  
}

.ALL{
    padding-left: 10px;
    padding-top: 15px;

    
    position: relative;
    font-size: 16px;
}
.item{
    width: 200px;
    float: left;
    padding: 2px;
}
.menu-small ul li{
    list-style:none;
    float: left;
    text-align: center;
    padding: 13px;
}
.menu-small a{
    color: blue;
}
.menu-small a:hover{
    color: red;
}
/*footer*/
footer{
    background-color: darkgray;
     margin: auto;
}

p{
    margin: 0 0 5px;
}
h3{
    margin-top: 20px;
    margin-bottom: 10px;
}
/*liên hệ*/
.lb-ten{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.txt-ten{
    padding: 4px 12px;
    width:90%;
}
.txt-nd{
    width: 100%;
    padding: 4px 12px;
    
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    /* border-color: #d43f3a; */
    padding: 6px 12px;
    border-radius: 4px;
}
.ghichu{
    
    margin-left: 25%;
    margin-top: -69px;
    height: 80px;      
}
.khung-qc{
  
    background-color: darkgray;
    margin-bottom: 6px;
    margin-top: 6px;
}
.khung-qc:hover{
    background-color: darkslateblue;
}
.fa.fas {
    font-weight: 900;
}
/*phan trang*/
.page {
    position: relative;
    width: 100%;
    height: 25px;
    padding-left: 45%;
    margin-bottom: 20px;
}
.page ul {
    list-style: none;
    
}


.page>ul>li {
    width: 30px;
    display: inline-block;
    position: relative;
    height: 30px;
    border: 1px solid black;
    background-color: #fff;
    color: black;
    padding: 6px 6px 6px 9px;
}
/*class tramg mt asus*/
.title_{
    width: 200px;
    height: 60px;
    background-color: red;
    font-weight: bold;
    border-radius: 5PX;
    margin-left: 30px;
    margin: 5px;
    color: white;
    padding-top: 20px;
    padding-left: 22px;
    font-size: 20px;
    position: relative;
    
}
.title_ P{
   ;
   
    
}