*{
    padding: 0px;
    margin: 0px;
}
*{
    box-sizing: border-box;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}

.col-12{
width: 100%;
}

[class*="col-"]{
    float: left;
    border: 1px ;
}
.row::after{  /*giả rỗng*/

    content: "";
    clear: both;
}
/*phần đầu*/

#head{
    width: 1200px;
    margin: auto;
    height: 60px;
    background-color: white;
}
#head [class*="col-"]{
    height: 100%;
}
.form-control {
    
    width: 90%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    margin-top: 12px; 
    
}
.btn-primary {
    
    position: absolute;
    width: 30px;
    height: 27px;
    top: 14px;
    border:white;
    right: 590px;
    
    
}
.item-header{
    float: left;
    padding-left: 10px;
    margin-top: 0;
}
.shopping { 
    float: left;
    position: relative;
    margin: 0 10px 0 0;
    padding-left: 10px ;
    padding-top: 10px ;
}
.txt-giohang {
    font-size: 14px;
    float: left;
    color: black;
    cursor: pointer;
    padding-top: 10px;
}
.sl-giohang {
    position: absolute;; /* chèn lên đối tượng*/
    top: 8px;
   left: 985px;
   border-radius: 10px;
   
}
.label-danger {
    background-color: brown;
   
   
}
.lable-moi {
    font-size: 14px;
    position: absolute;
    top: 630px;
    border-radius: 3px;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    
    
    
    
    
}
.shoping {
    float: left;
    position: relative;
    margin: 0 10px 0 0;
    padding-top: 10px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 12px;
    margin-top: 15px;
    font-weight: bold;
    background: darkgray;
    border-radius: 5px;
}
/*menu*/
nav{
width: 1200px;
margin: auto;
}
.menu > ul{
    background-color: dimgray;
    overflow: hidden;   
}
ul{
    margin-top: 0px;
    margin-bottom: 2px;
        
}
.menu ul li

{
    
    list-style: none; /* làm ẩn cái chấm đen của thẻ*/
    float: left;
    width: 15%;
    line-height: 50px;
    max-height: 50px;
    background-color: blue;
    border-right: 1px solid aquamarine;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

} 
.menu li a {
    text-decoration: none; /* làm ẩn gạch chân ở dưới chữ */
    color: silver;
}
.menu li a:hover{
    
    color: red;
   
}
/*slide*/
section{
    width:1200px;
    margin: auto;
    
}
.divcontainer{
    
   background-color:darkgray;
    margin: 5px;
   
    
}
.page-dau{
    padding: 10px 10px 5px;
    background: indianred;
    font-weight: bold; 
     
}
.khung{
    padding: 10px;
    
}
.input-sm{
    height: 30px;
    line-height: 30px;
    width: 100%;
    font-size: 15px;
}
#list li{
    margin: 20px auto;
    list-style: none;

}
#list li a{
    color: maroon;
}
#list li a:hover{
   color: darkblue;
     
}
a{
    text-decoration: none;
}
/*ảnh chạy*/

.divcontainer1{
    border: 2px solid antiquewhite;
    margin: 10px 0px;
    
   border-radius: 10px;
   margin-left: 10px;
    
}
/*footer*/
footer{
    background-color: darkgray;
     margin: auto;
}

p{
    margin: 0 0 10px;
}
h3{
    margin-top: 20px;
    margin-bottom: 10px;
}
/*liên hệ*/
.lb-ten{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.txt-ten{
    padding: 4px 12px;
    width:90%;
}
.txt-nd{
    width: 100%;
    padding: 4px 12px;
    
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    /* border-color: #d43f3a; */
    padding: 6px 12px;
    border-radius: 4px;
}
.ghichu{
    
    margin-left: 25%;
    margin-top: -69px;
    height: 80px;

    
    

}
.khung-qc{
    
    background-color: darkgray;
    margin-bottom: 6px;
    margin-top: 6px;
}
.khung-qc:hover{
    background-color: darkslateblue;
}